
 
<body>
	
	<img src="../../assets/images/body.jpg" alt="" width="100%">
    <div class="card-img-overlay">
    <table align="center"  border="5"  >
   <div class="container">
       
                   <form >
                       <h3>Signin</h3>
                       <div >
                           <!-- <span class="lnr lnr-user"></span> -->
                           <label for="U">Username:</label>
                           <input type="text" id="U" name="Username" class="form-control" placeholder="Username"  ngModel>
                       </div>
                       <br>
                      
                 
                       <div >
                        <label for="P">Password:</label>
                           <input type="password" id="P" class="form-control" placeholder="Password" name="password" ngModel>
                       </div>
                       <br>
                
                       <button class="btn btn-success" >
                           Signin
                       </button>
                   </form>
                   
               
               <div class="forget"> 
                forgot details :<button btn-sucess><a href="register">click here</a></button>
               </div>
           
               </div> 
      
           </table>
        </div>
       </body>