
<body>
  
    <div class="card-deck" >
        <div class="card "  >
            
<div class="card-header"><img src="./assets/images/26.jpg" alt="" width="200px" height="150px"></div>
<div class="card-body">Recent launched</div>
<div class="card-footer">Buyat : <a  class="btn btn-warning">2,20,569</a></div>
        </div>



        <div class="card">
            <div class="card-header"><img src="./assets/images/27.jpg" alt=""  width="200px" height="150px"></div>
            <div class="card-body">Recent launched</div>
            <div class="card-footer">Buyat :<a  class="btn btn-warning">2,25,568</a></div>
                    </div>

                    <div class="card">
                        <div class="card-header"><img src="./assets/images/28.jpg" alt=""width="200px" height="150px"></div>
                        <div class="card-body">Recent launched</div>
                        <div class="card-footer">Buyat :<a  class="btn btn-warning">5,45,456</a></div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><img src="./assets/images/29.jpg" alt=""width="200px" height="150px"></div>
                                    <div class="card-body"> Recent launched</div>
                                    <div class="card-footer">Buyat :<a  class="btn btn-warning">3,98,145</a></div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header"><img src="./assets/images/30.jpg" alt=""width="200px" height="150px"></div>
                                                <div class="card-body">Recent launched</div>
                                                <div class="card-footer">Buyat :<a  class="btn btn-warning">2,88,130</a></div>
                                                        </div>
                                                
                                            <!--  -->

    </div>

<hr>

<div class="card-deck">
    <div class="card">
<div class="card-header"><img src="./assets/images/31.jpg" alt=""width="200px" height="150px"></div>
<div class="card-body">Recent launched</div>
<div class="card-footer">Buyat :<a  class="btn btn-warning">2,45,147</a></div>
    </div>



    <div class="card">
        <div class="card-header"><img src="./assets/images/32.jpg" alt=""width="200px" height="150px"></div>
        <div class="card-header">Recent launched</div>
        <div class="card-header">Buyat :<a  class="btn btn-warning">4,45,789</a></div>
                </div>

                <div class="card">
                    <div class="card-header"><img src="./assets/images/33.jpg" alt=""width="200px" height="150px"></div>
                    <div class="card-header">Recent launched</div>
                    <div class="card-header">Buyat :<a  class="btn btn-warning">5,78,456</a></div>
                            </div>
                            <div class="card">
                                <div class="card-header"><img src="./assets/images/34.jpg" alt=""width="200px" height="150px"></div>
                                <div class="card-header">Recent launched</div>
                                <div class="card-header">Buyat :<a  class="btn btn-warning">1,78,569</a></div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header"><img src="./assets/images/35.jpg" alt=""width="200px" height="150px"></div>
                                            <div class="card-header">Recent launched</div>
                                            <div class="card-header">Buyat :<a  class="btn btn-warning">1,75,459</a></div>
                                                    </div>
                                            
                                    
</div>



</body>