<div class="coantainer">
<div class="card">

<div class="card-body">
    <img src="../../assets/images/body.jpg" alt="" width="100px"  >
    <div class="card-img-overlay">
        <div class="row">
            <div class="col"> 
              <p>contactus:  <br>
    
                phone no: 123456789 <br>                                
                email:bikedekho123@gmail.com <br>
                location:1-123 ,   <br>
                        Gachibowli,    <br>
                        hydrabad.
        </div>
            <div class="col"><p>follow us: <br>
    
                insta id: bk124_bike    <br>
                facebook : bikedekho123@45    <br>
                whatsup: www./w.ap./bikedekho./45.com
                </p>
            </div>
            
          </div>
                
 



            </div>
</div>


</div>




    
        
    
    
    
    
   
  
  </div>
