
<body>
    

    <div class="card-deck">
        <div class="card " >
<div class="card-header"><img src="./assets/images/1.jpg" alt="" width="200px" height="150px"></div>
<div class="card-body">Model 2020</div>
<div class="card-footer">Selling price: <a  class="btn btn-danger">1,80,132</a></div>
        </div>



        <div class="card">
            <div class="card-header"><img src="./assets/images/2.jpg" alt=""  width="200px" height="150px"></div>
            <div class="card-body">Model 2020</div>
            <div class="card-footer">Selling price:<a  class="btn btn-danger">2,80,132</a></div>
                    </div>

                    <div class="card">
                        <div class="card-header"><img src="./assets/images/3.jpg" alt=""width="200px" height="150px"></div>
                        <div class="card-body">Model 2020</div>
                        <div class="card-footer">Selling price:<a  class="btn btn-danger">3,80,132</a></div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><img src="./assets/images/4.jpg" alt=""width="200px" height="150px"></div>
                                    <div class="card-body"> Model 2020</div>
                                    <div class="card-footer">Selling price:<a  class="btn btn-danger">3,98,132</a></div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header"><img src="./assets/images/5.jpg" alt=""width="200px" height="150px"></div>
                                                <div class="card-body">Model 2020</div>
                                                <div class="card-footer">Selling price:<a  class="btn btn-danger">4,83,132</a></div>
                                                        </div>
                                                
                                           
    </div>

<hr>

<div class="card-deck">
    <div class="card">
<div class="card-header"><img src="./assets/images/6.jpg" alt=""width="200px" height="150px"></div>
<div class="card-body">Model 2020</div>
<div class="card-footer">Selling price:<a  class="btn btn-danger">5,83,132</a></div>
    </div>



    <div class="card">
        <div class="card-header"><img src="./assets/images/7.jpg" alt=""width="200px" height="150px"></div>
        <div class="card-header">Model 2020</div>
        <div class="card-header">Selling price:<a  class="btn btn-danger">4,83,132</a></div>
                </div>

                <div class="card">
                    <div class="card-header"><img src="./assets/images/8.jpg" alt=""width="200px" height="150px"></div>
                    <div class="card-header">Model 2020</div>
                    <div class="card-header">Selling price:<a  class="btn btn-danger">4,83,132</a></div>
                            </div>
                            <div class="card">
                                <div class="card-header"><img src="./assets/images/9.jpg" alt=""width="200px" height="150px"></div>
                                <div class="card-header">Model 2020</div>
                                <div class="card-header">Selling price:<a  class="btn btn-danger">5,85,152</a></div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header"><img src="./assets/images/10.jpg" alt=""width="200px" height="150px"></div>
                                            <div class="card-header">Model 2020</div>
                                            <div class="card-header">Selling price:<a  class="btn btn-danger">6,84,132</a></div>
                                                    </div>
                                            

</div>
<hr>

<div class="card-deck">
    <div class="card">
<div class="card-header"><img src="./assets/images/11.jpg"width="200px" height="150px" alt=""></div>
<div class="card-header">model 2020</div>
<div class="card-header">Selling price:<a  class="btn btn-danger">7,84,132</a></div>
    </div>



    <div class="card">
        <div class="card-header"><img src="./assets/images/12.jpg"width="200px" height="150px" alt=""></div>
        <div class="card-header">model 2020</div>
        <div class="card-header">Selling price:<a  class="btn btn-danger">4,84,132</a></div>
                </div>

                <div class="card">
                    <div class="card-header"><img src="./assets/images/13.jpg"width="200px" height="150px" alt=""></div>
                    <div class="card-header">model 2020</div>
                    <div class="card-header">Selling price:<a  class="btn btn-danger">6,04,135</a></div>
                            </div>
                            <div class="card">
                                <div class="card-header"><img src="./assets/images/14.jpg"width="200px" height="150px" alt=""></div>
                                <div class="card-header">model 2020</div>
                                <div class="card-header">Selling price:<a  class="btn btn-danger">6,56,132</a></div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header"><img src="./assets/images/15.jpg"width="200px" height="150px" alt=""></div>
                                            <div class="card-header">model 2020</div>
                                            <div class="card-header">Selling price:<a  class="btn btn-danger">7,84,132</a></div>
                                                    </div>
                                    
</div>

</body>