
<body>
    

    <div class="card-deck">
        <div class="card " >
<div class="card-header"><img src="./assets/images/16.jpg" alt="" width="200px" height="150px"></div>
<div class="card-body">Model 2022</div>
<div class="card-footer">Buyat : <a  class="btn btn-success">8,80,132</a></div>
        </div>



        <div class="card">
            <div class="card-header"><img src="./assets/images/17.jpg" alt=""  width="200px" height="150px"></div>
            <div class="card-body">Model 2022</div>
            <div class="card-footer">Buyat :<a  class="btn btn-success">8,80,156</a></div>
                    </div>

                    <div class="card">
                        <div class="card-header"><img src="./assets/images/18.jpg" alt=""width="200px" height="150px"></div>
                        <div class="card-body">Model 2022</div>
                        <div class="card-footer">Buyat :<a  class="btn btn-success">9,50,135</a></div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><img src="./assets/images/19.jpg" alt=""width="200px" height="150px"></div>
                                    <div class="card-body"> Model 2022</div>
                                    <div class="card-footer">Buyat :<a  class="btn btn-success">13,98,132</a></div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header"><img src="./assets/images/20.jpg" alt=""width="200px" height="150px"></div>
                                                <div class="card-body">Model 2022</div>
                                                <div class="card-footer">Buyat :<a  class="btn btn-success">5,38,132</a></div>
                                                        </div>
                                                
                                        

    </div>

<hr>

<div class="card-deck">
    <div class="card">
<div class="card-header"><img src="./assets/images/21.jpg" alt=""width="200px" height="150px"></div>
<div class="card-body">Model 2022</div>
<div class="card-footer">Buyat :<a  class="btn btn-success">15,83,132</a></div>
    </div>



    <div class="card">
        <div class="card-header"><img src="./assets/images/22.jpg" alt=""width="200px" height="150px"></div>
        <div class="card-header">Model 2022</div>
        <div class="card-header">Buyat :<a  class="btn btn-success">4,53,132</a></div>
                </div>

                <div class="card">
                    <div class="card-header"><img src="./assets/images/23.jpg" alt=""width="200px" height="150px"></div>
                    <div class="card-header">Model 2022</div>
                    <div class="card-header">Buyat :<a  class="btn btn-success">14,53,100</a></div>
                            </div>
                            <div class="card">
                                <div class="card-header"><img src="./assets/images/24.jpg" alt=""width="200px" height="150px"></div>
                                <div class="card-header">Model 2022</div>
                                <div class="card-header">Buyat :<a  class="btn btn-success">25,85,189</a></div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header"><img src="./assets/images/25.jpg" alt=""width="200px" height="150px"></div>
                                            <div class="card-header">Model 2022</div>
                                            <div class="card-header">Buyat :<a class="btn btn-success">16,84,132</a></div>
                                                    </div>
                                            
                                    
</div>

</body>