 
 <body>
	
	<img src="../../assets/images/body.jpg" alt="" width="100%">
	<div class="card-img-overlay">
 <table align="center"  border="5"  >
<div class="container">
	
				<form action="#">
					<h3>New Register</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Username">
					</div>
					<br>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="text" class="form-control" placeholder="Phone Number">
					</div>
					<br>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" placeholder="e-Mail">
					</div>
					<br>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Password">
					</div>
					<br>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Confirm Password">
					</div>
					<br>
					<button class="btn btn-success" >
						Register
					</button>
				</form>
				
			
			
		
			</div> 
   
		</table></div>

	</body>